block variable
    -var frontVersion = '1.3';
    -var email = 'info@sitename.ru';
    -var phone = '+7 (495) 569 63 63';

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title АЛФАВИТ - Лизинговое агенство

    link(rel="stylesheet", type="text/css", href="css/style.css?"+frontVersion+"")
body
    header.header
        .container_center
            .header__top
                .header__left
                    .navbar__toggle
                    a.logo(href="/")
                        img(src="img/logo.svg", alt="АЛФАВИТ - Лизинговое агенство")
                        span.logo__text АЛФАВИТ
                            small Лизинговое агенство
                    .logo__subtitle Экономим ваши деньги и время!

                .header__contact
                    .header__contactItem
                        a.email(href="mailto: "+email+"")= email
                    .header__contactItem
                        a.phone(href="tel: "+phone+"")
                            b= phone
                    .header__contactItem.desktop
                        button.btn.btn_outline.btn_contrast(type="button" data-toggle="modal" data-target="#callback") Заказать звонок

            .header__bottom
                .navbar__toggle
                nav.header__nav
                    ul.navbar
                        -var nav = [{name: 'Почему мы', anchor: 'about'},{name: 'Акции', anchor: 'sell'},{name: 'Преимущества', anchor: 'profit'},{name: 'Схема работы ', anchor: 'works'},{name: 'Партнёры', anchor: 'partners'},{name: 'Контакты', anchor: 'contact'}];
                        each item in nav
                            li.navbar__item
                                a.navbar__link(href="#"+item.anchor+"" data-scroll-to)= item.name
                .header__action
                    button.btn.btn_plus(type="button" data-toggle="modal" data-target="#callback") Подать заявку

    main.main_content
        // begin home
        section#home.home
            .homePanes
                -var homePane = [{color: '#0159dd', title: 'Лизинг', sub: 'легковых автомобилей', list: ['от 500 000 руб.','до 5 лет','от 5%','от 5% годовых','3 рабочих дня'], img: 'home-auto.png'},{color: '#323337', title: 'Лизинг', sub: 'Грузового транспорта', list: ['от 500 000 руб.','до 5 лет','от 5%','от 5% годовых','3 рабочих дня'], img: 'home-cargo.png'},{color: '#f8b200', title: 'Лизинг', sub: 'спецтехники', list: ['от 500 000 руб.','до 5 лет','от 5%','от 5% годовых','3 рабочих дня'], img: 'home-spectech.png'},{color: '#b5536a', title: 'Лизинг', sub: 'оборудования', list: ['от 500 000 руб.','до 5 лет','от 20%','от 7% годовых','3-5 рабочих дней'], img: 'home-factory.png'},{color: '#d01103', title: 'Лизинг', sub: 'Воздушного транспорта', list: ['от 5 000 000 руб.','до 5 лет','от 20%','от 5% годовых','5-7 рабочих дней'], img: 'home-helicopter.png'},{color: '#063675', title: 'Лизинг', sub: 'водного транспорта', list: ['от 5 000 000 руб.','до 5 лет','от 20%','от 5% годовых','1-2 недели'], img: 'home-yacht.png'},{color: '#0d1730', title: 'Лизинг', sub: 'Коммерческой недвижимости', list: ['от 5 000 000 руб.','до 5 лет','от 20%','от 5% годовых','5-7 рабочих дней'], img: 'home-building.png'},{color: '#6b5f88', title: 'Возвратный лизинг', sub: '', list: ['от 1 000 000 руб.','до 5 лет','от 0%','от 5% годовых','3-5 рабочих дней'], img: 'home-money.png'}];
                each item, i in homePane
                    case i
                        when 0
                            -var actClass = ' active'
                        default
                            -var actClass = ''
                    .homePanes__item(id="home-"+i+"" class= actClass)
                        .homePanes__bg(style="background-color: "+item.color+"")
                        .homePanes__bgText Лизинг
                        .homePanes__content.container_center
                            .homePanes__descr
                                .homePanes__title= item.title
                                .homePanes__sub= item.sub
                                .homePanes__list
                                    each value, count in item.list
                                        .homePanes__listRow
                                            case count
                                                when 0: .homePanes__listLabel Стоимость
                                                when 1: .homePanes__listLabel Срок
                                                when 2: .homePanes__listLabel Авансовый платёж
                                                when 3: .homePanes__listLabel Удорожание в год
                                                when 4: .homePanes__listLabel Срок рассмотрения
                                            .homePanes__listValue= value
                            .homePanes__img
                                img(src="img/"+item.img+"", alt="")

            .container_center
                .homeTabs
                    -var homeTabs = [{img: 'tab-car', name: 'Легковые автомобили'},{img: 'tab-cargo', name: 'Грузовые автомобили'},{img: 'tab-spectech', name: 'Спецтехника'},{img: 'tab-manufacture', name: 'Оборудование'},{img: 'tab-helicopter', name: 'Воздушный транспорт'},{img: 'tab-water', name: 'Водный транспорт'},{img: 'tab-build', name: 'Недвижимость'},{img: 'tab-money', name: 'Возвратный лизинг'}];
                    each item, i in homeTabs
                        case i
                            when 0
                                -var tabActive = ' active';
                            default
                                -var tabActive = '';
                        .homeTabs__item(class= tabActive data-swich="#home-"+i+"")
                            .homeTabs__img
                                i(class="icon_"+item.img+"")
                            .homeTabs__name= item.name

        // end home

        // begin about
        section#about.about.section
            .container_center
                h2.section__title(data-sub="Почему мы") Почему мы
                .about__content
                    .about__img
                        img(src="img/about.png", alt="")
                    .about__text
                        p
                            b АЛФАВИТ 
                            |– лизинговое агентство, это онлайн сервис для подачи заявки на лизинг и получения оптимально выгодного предложения. АЛФАВИТ, потому, что от А до Я, наша платформа объединяет все лизинговые компании России, позволяет нам работать со всеми категориями клиентов и видами предметов лизинга. Партнерская сеть объединяет более 50 лизинговых компаний федерального и региональных масштабов.

                        p
                            b Самый выгодный расчет на лизинг. 
                            |Благодаря постоянному и углубленному исследованию рынка лизинга, мы знаем, где предложат лучшие финансовые условия для конкретного клиента, с учетом его потребностей и специфики бизнеса. На основании понимания рынка и опыта работы в лизинге с 2006 года, помогаем нашим клиентам найти наиболее выгодные, а иногда и эксклюзивные условия сотрудничества, при этом отстаивая интересы лизингополучателя.

                        p
                            b Быстрое решение. 
                            |После 10-ти минутного разговора с нашим специалистом, вы сможете получить ответ о возможностях по финансированию вашего проекта. В течение 1-2 рабочих дней отправим вам 2-3 самых лучших предложения по лизингу, выбирать из лучшего будете сами. Сделка от обращения до получения предмета лизинга во владение, при условии наличия имущества у поставщика осуществляется в среднем от 1 до 2 рабочих недель.

                        p
                            b Консалтинг. 
                            |Итак, мы экономим ваше время и деньги, мы подберем для вас лучшие условия на рынке, поможем согласовать договоры, сопроводим сделку до передачи предмета лизинга вам в пользование. Также с радостью готовы вас консультировать в течения действия всего срока договора лизинга.

                .about__descr Если у вас уже есть предложение от лизинговой компании, мы готовы проконсультировать вас по данному предложению, рассказать о возможных подводных камнях, а также готовы найти более выгодные условия в других лизинговых компаниях – партнерах.

        // end about

        // begin sell
        section#sell.sell.section
            .container_center
                h2.section__title(data-sub="Акции") Акции, выгодные предложения

                .sell__list
                    //- - var sell = [{name}]
                    .sell__item
                        .sell__img
                            img(src="img/sell-1.jpg", alt="")
                        .sell__descr
                            .sell__name Вода зовёт!
                            .sell__date с 1 августа до 31 сентября
                            .sell__text Водный транспорт в лизинг на выгодных условиях. Найдёте выгоднее? Вернём разницу
                            .sell__action
                                button.btn.btn_plus(type="button") Подать заявку
                    .sell__item
                        .sell__img
                            img(src="img/sell-2.jpg", alt="")
                        .sell__descr
                            .sell__name Спецтехника по спеццене
                            .sell__date с 1 августа до 31 сентября
                            .sell__text Водный транспорт в лизинг на выгодных условиях. Найдёте выгоднее? Вернём разницу
                            .sell__action
                                button.btn.btn_plus(type="button") Подать заявку
                    .sell__item
                        .sell__img
                            img(src="img/sell-3.jpg", alt="")
                        .sell__descr
                            .sell__name Вертолёт в каждую семью!
                            .sell__date с 1 августа до 31 сентября
                            .sell__text Водный транспорт в лизинг на выгодных условиях. Найдёте выгоднее? Вернём разницу
                            .sell__action
                                button.btn.btn_plus(type="button") Подать заявку
                    .sell__item
                        .sell__img
                            img(src="img/sell-3.jpg", alt="")
                        .sell__descr
                            .sell__name Вертолёт в каждую семью!
                            .sell__date с 1 августа до 31 сентября
                            .sell__text Водный транспорт в лизинг на выгодных условиях. Найдёте выгоднее? Вернём разницу
                            .sell__action
                                button.btn.btn_plus(type="button") Подать заявку

        // end sell

        // begin profit
        section#profit.profit.section
            .container_center


                .profit__content
                    .profit__text
                        h2.section__title(data-sub="Преимущества") Наши преимущества — ваши выгоды!
                        .profit__img
                            img(src="img/profit.jpg", alt="")
                        .profit__list
                            p
                                b Вся Россия. 
                                |Работаем по всей территории РФ, включая Крым и Кавказ.
                            p
                                b Скидки на авто и технику от дилеров и производителей, 
                                |т.к. косвенно мы являемся оптовыми покупателями.
                            p
                                b Консалтинг. 
                                |Качественная консультационная поддержка на любом этапе обращения.
                            p
                                b Быстро. 
                                |Зная рынок, мы за 1-2 дня сделаем за вас работу, на которую вы потратите 2-3 недели, выберем лучшие условия от 50 лизинговых компаний партнеров, и вы не ощутите их назойливость.
                            p
                                b Дешево. 
                                |Если у вас уже есть предложение от лизинговой компании, то мы готовы найти для вас условия лучше!
                            p
                                b Бесплатно для вас. 
                                |Наша услуга бесплатна для лизингополучателя, так как, материальное вознаграждение мы получаем от лизинговых компаний, которым даем возможность заключить новые сделки и берем на себя часть их издержек связанных с привлечением новых клиентов.
                        .profit__sub Если у вас уже есть предложение от лизинговой компании, то мы готовы найти для вас лучше!
                        .profit__action
                            button.btn.btn_outline(type="button") Подробнее о сотрудничестве

        // end profit

        // begin works
        section#works.works.section
            .container_center
                h2.section__title(data-sub="Схема работы") Схема работы
                .section__sub С нами максимально удобно! Сделайте всего 4 шага

                .works__list
                    .works__item
                        .icon_next
                        .works__icon
                            i.icon_comment
                        .works__text 01. Подаёте 
                            a(href="#") заявку 
                            |на лизинг и вам перезванивает персональный менеджер.
                    .works__item
                        .icon_next
                        .works__icon
                            i.icon_sell
                        .works__text 02. Находим самые выгодные предложения, а вы выбираете лучшее! 
                    .works__item
                        .icon_next
                        .works__icon
                            i.icon_list
                        .works__text 03. Подписываете договор, платите аванс.
                    .works__item
                        .works__icon
                            i.icon_cargo
                        .works__text 04. Получаете предмет лизинга.

        // end works

        // begin project
        section#project.project
            .container_center
                h2.section__title(data-sub="Проекты") Реализованные проекты

                .projectTabs
                    .projectTabs__item.active(data-tab="all") Все
                    .projectTabs__item(data-tab="car") Легковые
                    .projectTabs__item(data-tab="cargo") Грузовые
                    .projectTabs__item(data-tab="spec") Спецтехника
                    .projectTabs__item(data-tab="hardware") Оборудование
                    .projectTabs__item(data-tab="air") Воздушный транспорт
                    .projectTabs__item(data-tab="water") Водный транспорт
                    .projectTabs__item(data-tab="house") Недвижимость
                    .projectTabs__item(data-tab="back") Возвратный

                .projectPanes
                    .projectPanes__panel.active
                        .projectSlider
                        .projectPanes__list
                            .projectPanes__item(data-filter="car")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее
                            .projectPanes__item(data-filter="cargo")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее
                            .projectPanes__item(data-filter="spec")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее
                            .projectPanes__item(data-filter="spec")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее
                            .projectPanes__item(data-filter="hardware")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее
                            .projectPanes__item(data-filter="hardware")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее
                            .projectPanes__item(data-filter="hardware")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее
                            .projectPanes__item(data-filter="hardware")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее
                            .projectPanes__item(data-filter="hardware")
                                .projectPanes__plate
                                    .projectPanes__img(style="background-image: url(img/project.jpg)")
                                        //- img(src="img/project.jpg", alt="")
                                    .projectPanes__descr
                                        .projectPanes__name Лизинг спецтехники
                                        .projectPanes__text Крупному складскому оператору федерального масштаба, передано  в лизинг 10 складских дизельных погрузчиков MITSUBISHI FD20CNT  на общую сумму 20 млн. рублей.
                                        a.projectPanes__detailed(href="#") Подробнее

                        //- .projectPanes__more.desktop
                            button.btn.btn_outline.js_more(type="button") Показать ещё

        // end project

        // begin partners
        section#partners.partners
            .container_center
                h2.section__title(data-sub="Партнёры") Наши партнёры

                .partners__wrap
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-1.jpg", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-2.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-3.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-4.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-5.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-6.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-7.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-8.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-9.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-10.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-11.gif", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-12.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-13.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-14.png", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-15.jpg", alt="")
                    .partners__item
                        a.partners__link(href="#")
                            img(src="img/partners/partners-16.png", alt="")

        // end partners

        // begin map
        section#contact.map__wrap
            .container_center
                .map__address
                    h2.section__title Контакты
                    .map__list
                        .map__row
                            .map__label Адрес:
                            .map__value 123290, Москва, Причальный проезд, д. 8, стр. 3 оф. 8
                        .map__row
                            .map__label Телефон:
                            .map__value
                                a(href="tel: "+phone+"")= phone
                        .map__row
                            .map__label E-mail:
                            .map__value 
                                a(href="mailto: "+email+"")= email
            .map#map


        // end map

    footer.footer
        .container_center.footer__wrap
            .footer__left
                a.logo(href="/")
                    img(src="img/logo.svg", alt="АЛФАВИТ - Лизинговое агенство")
                    span.logo__text АЛФАВИТ
                        small Лизинговое агенство

            .footer__center
                |2019&copy;
                a(href="#" data-toggle="modal" data-target="#privacy") Политика конфиденциальности

            .footer__right
                button.btn.btn_plus(type="button" data-toggle="modal" data-target="#callback") Подать заявку

    //- // Button trigger modal privacy
    //- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#privacy") Click to open modal
    // Begin Modal privacy
    .modal.fade.privacy#privacy
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Политика конфиденциальности
                .modal-body
                    p В соответствии с требованиями Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных» я выражаю согласие на обработку ИП Ажикину Игорю Владимировичу (обслуживает сайт abclease.ru, ИНН 500712119095, ОГРНИП 313500719200024) своих персональных данных без оговорок и ограничений, совершение с моими персональными данными действий, предусмотренных п.3 ч.1 ст.3 Федерального закона от 27.07.2006 г. №152-ФЗ «О персональных данных», и подтверждаю, что, давая такое согласие, действую свободно, по своей воле и в своих интересах. Согласие на обработку персональных данных дается мной в целях получения услуг, оказываемых ИП Ажикиным Игорем Владимировичем.
                    p Перечень персональных данных, на обработку которых предоставляется согласие: фамилия, имя, отчество, место пребывания (город, область), номера телефонов, адреса электронной почты (E-mail), а также иные полученные от меня персональные данные.
                    p Я выражаю свое согласие на осуществление со всеми указанными персональными данными следующих действий: сбор, систематизация, накопление, хранение, уточнение (обновление или изменение), использование, получение рассылки рекламно-информационного характера, распространение (в том числе, передача), обезличивание, блокирование, уничтожение, передача, в том числе трансграничная передача, а также осуществление любых иных действий с персональными данными в соответствии с действующим законодательством. Обработка данных может осуществляться как с использованием средств автоматизации, так и без их использования (при неавтоматической обработке). При обработке персональных данных ИП Ажикин Игорь Владимирович не ограничен в применении способов их обработки.
                    p Настоящим я признаю и подтверждаю, что в случае необходимости ИП Ажикин Игорь Владимирович вправе предоставлять мои персональные данные третьим лицам исключительно в целях оказания услуг технической поддержки, а также (в обезличенном виде) в статистических, маркетинговых и иных научных целях. Такие третьи лица имеют право на обработку персональных данных на основании настоящего согласия.
                    p Я подтверждаю согласие на получение рекламы и любой иной информации от ИП Ажикина Игоря Владимировича, в том числе от партнеров ИП Ажикина Игоря Владимировича, по любым каналам связи, в том числе посредством использования телефонной и подвижной связи, смс–оповещения, почтового письма, телеграммы, голосового сообщения, сообщение по электронной почте. При осуществлении рассылки ИП Ажикина Игоря Владимировича разрешается использовать любую контактную информацию, указанную в настоящем электронном письме. Право выбора компаний, осуществляющих рассылку, предоставляется ИП Ажикиным Игорем Владимировичем без дополнительного согласования с получателем такой рассылки.
                    p Данное согласие действует до даты его отзыва мною путем направления ИП Ажикину Игорю Владимировичу подписанного мною соответствующего письменного заявления, которое может быть направлено мной в адрес ИП Ажикина Игоря Владимировича по почте заказным письмом с уведомлением о вручении, либо вручено лично под расписку надлежаще уполномоченному представителю ИП Ажикину Игорю Владимировича.
                    p В случае получения моего письменного заявления об отзыве настоящего согласия на обработку персональных данных, ИП Ажикин Игорь Владимирович обязан прекратить их обработку и исключить персональные данные из базы данных, в том числе электронной, за исключением сведений о фамилии, имени, отчестве.
                    p Я осознаю, что проставление отметки «V» в поле слева от фразы «Оставляя заявку, вы соглашаетесь на обработку персональных данных» на сайте abclease.ru ниже текста настоящего Соглашения, означает мое письменное согласие с условиями, описанными в нём.

    // End modal privacy

    //- Button trigger modal callback
    //- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#callback") Click to open modal
    // Begin Modal callback
    .modal.fade.callback#callback
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                form.form(action="send.php" method="post")
                    .modal-header
                        .modal-title Подать заявку на лизинг
                    .modal-body
                        .form__grid
                            .form__col
                                .form__row
                                    select(name="type" data-placeholder="Предмет лизинга*" required)
                                        option(value="")
                                        option(value="Легковые автомобили") Легковые автомобили
                                        option(value="Грузовые автомобили") Грузовые автомобили
                                        option(value="Спецтехника") Спецтехника
                                        option(value="Оборудование") Оборудование
                                        option(value="Воздушный транспорт") Воздушный транспорт
                                        option(value="Водный транспорт") Водный транспорт
                                        option(value="Недвижимость") Недвижимость
                                        option(value="Возвратный лизинг") Возвратный лизинг
                            .form__col
                                .form__row
                                    input(type="text", name="inn" placeholder="ИНН")
                            .form__col
                                .form__row
                                    input(type="text", name="price" placeholder="Стоимость")
                            .form__col
                                .form__row
                                    input(type="text", name="name" placeholder="Контактное лицо")
                            .form__col
                                .form__row
                                    input(type="text", name="count" placeholder="Колличество")
                            .form__col
                                .form__row
                                    input(type="tel", name="tel" placeholder="Телефон*" required)
                            .form__col
                                .form__row
                                    input(type="text", name="avans" placeholder="Аванс")
                            .form__col
                                .form__row
                                    input(type="text", name="email" placeholder="E-mail")
                            .form__col
                                .form__row
                                    input(type="text", name="date" placeholder="Срок лизинга")
                            .form__col
                                .form__row
                                    input(type="text", name="place" placeholder="Местонахождение")
                            .form__col.form__col_full
                                .form__row
                                    textarea(name="info" placeholder="Дополнительная информация")
                            .form__col.form__col_full
                                .form__info Поля, помеченные *, обязательны к заполнения

                    .form__rezult
                    .modal-footer
                        .form__grid.form__action
                            .form__col
                                .form__row
                                    button.btn(type="submit") Отправить
                            .form__col
                                .form__row
                                    .form__info Оставляя заявку, вы соглашаетесь  на обработку персональных данных.
    // End modal callback

    script(src="js/jquery.js")
    script(src="js/slick.min.js")
    script(src="js/modal.js")
    script(src="js/select2.min.js")
    script(src="js/jquery.touchSwipe.min.js")

    script(src="js/function.min.js?"+frontVersion+"")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQpIS08g7YPH_GkF3n8oSxL3MVAWMXxh8&language=ru&region=RU&callback=initMap")
